{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}

    <form action="/password" method="post">
        <div class="form-group">
            <input class="form-control" name="password1" autocomplete="off" placeholder="New password" autofocus type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="password2" autocomplete="off" placeholder="Confirm password" autofocus type="password">
        </div>
        <div class="col text-center">
            <button class="btn btn-primary" type="submit">Change</button>
        </div>
        
    </form>
{% endblock %}
