{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}

    <form action="/register" method="post">
        <div class="form-group">
            <input class="form-control" name="username" autocomplete="off" placeholder="Username" autofocus type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="email" autocomplete="off" placeholder="Email" autofocus type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" autocomplete="off" placeholder="Password" autofocus type="password">
        </div>
        <div class="col text-center">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
        
    </form>
{% endblock %}
